name: sync to gitee
on:
#  schedule:
 #   - cron: '0 0-22/2 * * *'
  workflow_dispatch:

jobs:
  sync-job:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout GitHub Repo
        uses: actions/checkout@v4
        with:
          ref: master

      - name: Filter channels and generate new file
        run: |
          sed -n '/环球频道,#genre#/,/^[^#]*#genre#/p' output/userresult.txt > output/temp_filtered.txt
          sed '/环球频道,#genre#/,/^[^#]*#genre#/d' output/userresult.txt > output/temp_other.txt
          cat output/temp_other.txt output/temp_filtered.txt > output/abc.txt
          rm -f output/temp_filtered.txt output/temp_other.txt
        
          echo "处理完成！"
          echo "原始文件行数:$(wc -l < output/userresult.txt)"
          echo "新文件行数:$(wc -l < output/abc.txt)"
        
      - name: Commit Changes to GitHub
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add output/abc.txt
          git commit -m "Auto: Update filtered channels"
          git push
       
      - name: Download files
        run: |
          curl -o IPV4.txt "https://raw.github.com/${{ github.repository }}/master/output/abc.txt"
          # curl -o IPV6.txt "https://raw.github.com/${{ github.repository }}/master/output/ipv6/result.txt"

      - name: Clone Gitee Repo
        env:
          GITEE_USER: ${{ secrets.GITEE_USER }}
          GITEE_TOKEN: ${{ secrets.GITEE_TOKEN }}
          GITEE_REPO: ${{ secrets.GITEE_REPO }}
        run: |
          git clone "https://${GITEE_USER}:${GITEE_TOKEN}@gitee.com/${GITEE_USER}/${GITEE_REPO}.git" gitee-repo

      - name: Sync Files to Gitee
        run: |
          cd gitee-repo
          git config user.name "GitHub Actions Bot"
          git config user.email "actions@users.noreply.github.com"
          git checkout master
          cp ../IPV4.txt ./
          git add IPV4.txt
          git commit -m "Auto sync from GitHub - $(date +'%Y-%m-%d %H:%M:%S')"
          git push origin master
