name: sync to gitee
on:
#  schedule:
 #   - cron: '0 0-22/2 * * *'
  workflow_dispatch:

jobs:
  sync-job:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout GitHub Repo
        uses: actions/checkout@v4
        with:
          ref: master

      - name: Filter channels and generate new file
        run: |
          sed -n '/环球频道,#genre#/,/^[^#]*#genre#/{
            /环球频道,#genre#/p
            /^[^#]*#genre#/!d
          }' output/userresult.txt | sed '/环球频道,#genre#/d' > output/temp_filtered.txt
        
          sed '/环球频道,#genre#/,/^[^#]*#genre#/d' output/userresult.txt > output/temp_other.txt
          cat output/temp_other.txt output/temp_filtered.txt > output/abc.txt
        
          rm output/temp_filtered.txt output/temp_other.txt
        
          echo "Filtered file generated: output/abc.txt"
          echo "Original file line count: $(wc -l < output/userresult.txt)"
          echo "New file line count: $(wc -l < output/abc.txt)"
        
      - name: Commit and push if changes
        run: |
         git config --local user.email "action@github.com"
         git config --local user.name "GitHub Action"
         git add output/abc.txt
         git diff --staged --quiet || git commit -m "Add filtered channels file"
         git push
       
      - name: Download files
        run: |
          curl -s -o IPV4.txt "https://raw.github.com/${{ github.repository }}/master/output/abc.txt"
          # curl -o IPV6.txt "https://raw.github.com/${{ github.repository }}/master/output/ipv6/result.txt"
          # curl -o IPV4.m3u "https://raw.github.com/${{ github.repository }}/master/output/userresult.m3u"

      - name: Clone Gitee Repo
        env:
          GITEE_USER: ${{ secrets.GITEE_USER }}
          GITEE_TOKEN: ${{ secrets.GITEE_TOKEN }}
          GITEE_REPO: ${{ secrets.GITEE_REPO }}
        run: |
          git clone "https://${GITEE_USER}:${GITEE_TOKEN}@gitee.com/${GITEE_USER}/${GITEE_REPO}.git" gitee-repo

      - name: Sync files
        run: |
          cd gitee-repo
          git config user.name "GitHub Actions"
          git config user.email "actions@users.noreply.github.com"
          git checkout master || git checkout -b master
          cp ../IPV4.txt ./
          # cp ../IPV6.txt ./
          # cp ../IPV4.m3u ./
          git add IPV4.txt --force
          # add to above line IPV6.txt IPV4.m3u
          git commit -m "Sync from GitHub" --allow-empty
          git push origin master --force
